<main>
  <app-nav-bar class="app-nav-bar" [login]="isAuthenticated" logo="logo.svg" />
  <section>
    <h1>Terms of Use for VideoFlix</h1>
    <h2>Introduction</h2>
    <p>
      Welcome to VideoFlix! These Terms of Use ("Terms") govern your access to and use of VideoFlix, including our website and application (collectively, the "Service"). By
      accessing or using the Service, you agree to comply with these Terms. If you do not agree with any part of these Terms, please do not use the Service.
    </p>
    <h2>Non-Commercial Nature of the Service</h2>
    <p>
      VideoFlix is a non-commercial application created as a portfolio project. It is provided for demonstration and personal use only. No financial transactions, advertisements,
      or monetization strategies are implemented in this Service.
    </p>
    <h2>Eligibility</h2>
    <p>You must be at least 18 years old to use the Service or have the consent of a parent or guardian. By using the Service, you confirm that you meet this requirement.</p>
    <h2>Account Registration and Security</h2>
    <p>
      To access certain features, you may need to create an account. You are responsible for maintaining the security of your account and for all activities that occur under your
      account. You must provide accurate information and update it as necessary.
    </p>
    <h2>Changes to the Terms</h2>
    <p>
      We may update these Terms from time to time. If we make significant changes, we will notify you through the Service. Your continued use of the Service after the changes take
      effect constitutes acceptance of the new Terms.
    </p>
    <h2>Contact Us</h2>
    <p>If you have any questions about these Terms, please contact us at <a href="mailto:contact@ibrahima-sourabie.com">contact&#64;ibrahima-sourabie.com</a>.</p>
  </section>
  <footer>
    <section>
      <div class="help">
        <h2>Need help?</h2>
        <button>
          <a href="https://ibrahima-sourabie.com" rel="external nofollow noopener" target="_blank">Contact me</a>
        </button>
      </div>
      <a routerLink="/privacy-policy" class="footer-link">Privacy Policy</a>
      <a routerLink="/legal-notice" class="footer-link">Legal Notice</a>
    </section>
  </footer>
</main>
